<figure class="card">
  <div class="card-body">
    <blockquote class="blockquote">
      <%= comment.body %>
    </blockquote>
  </div>
  <div class="card-footer text-end">
    Published at <%= comment.created_at.to_formatted_s(:long) %>
  </div>
</figure>