<% content_for :title, "Authors" %>
<h1>Authors</h1>
<% if @authors.empty? %>
  <p>There are no authors in the system.</p>
<% else %>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Posts count</th>
    </tr>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author %></td>
        <td><%= author.posts.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>