<% content_for :title, @author.name %>
<h1><%= @author.name %></h1>
<table class="table table-striped">
  <thead> 
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Post title...
      </td>
    </tr>
  </tbody>
</table>