<% content_for :title, @author.name %>
<h1><%= @author.name %></h1>
<table class="table table-striped">
  <thead> 
    <tr>
      <th>Title</th>
      <th class="text-end">Published</th>
    </tr>
  </thead>
  <tbody>
    <% @author.posts.each do |post|  %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td class="text-end"><%= post.published.to_formatted_s(:long) %></td>
    </tr>
    <% end %>
  </tbody>
</table>