<div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">
  <h1 class="display-4">Rails Blog</h1>
  <p class="lead">This is a blog to share thoughts about Ruby and Rails development.</p>
  <hr class="my-4">
  <p>I'll create important posts and topics to share my experience with Rails.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
